body {
    font-family: "Roboto", monospace;
    padding: 0%;
    margin: 0%;
}

header {
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.cabecalho {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
}

input {
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 20px;
    background-color: white;
    border-color: black;
    border-style: solid;
    width: 30%;
}

.login-container {
    margin-top: 3%;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enter-button {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 1.5%;
    height: 35px;
    width: 15%; 
    font-size: 18px;   
    background-color: #40B4F5;
}

.enter-button:hover {
    background-color: #60bef5;
    cursor: pointer;
}

.login-footer {
    justify-content: center;
    margin-top: 2%;
    display: flex;
    width: 40%;
}

.forgot-password {
    color: #AA0404;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 2%;
}

.create-acount {
    color: #035310;
    text-decoration: underline;
    margin-left: 2%;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .barra {
    display: block;

}

#check:checked ~ .icone {
    transform: rotate(-90deg);
}

.barra {
    display: none;
	width: 60%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	/* padding-top: 50px; */
    /* transition: all .25s linear; */
}

.icone {
    font-size: 30px;
    position: fixed;
    z-index: 2;
    top: 3.5%;
    left: 5%;
    display: inline;
    color: #ffffff;
    transition: all .25s linear;
}

.search-container {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
}

.search {
    border-radius: 10px;
    width: 60%;
    margin-right: 2%;
    border: none;
}

.search-btn {
    border: none;
    border-radius: 10px;
    background-color: #035310;
    color: #ffffff;
    height: 25px;
    cursor: pointer;
}

.title {
    color: #ffffff;
    align-self: center;
    margin-top: 5%;
    margin-left: 40%;
}

.table {
    height: 80%;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #ffffff;
}

table {
    width: 100%;
}

th {
    border: solid 1px;
    margin-left: 20px;
}

td {
    border: solid 1px;
}

@media (min-width: 600px) {

    .barra {
        width: 40%;
        height: 100%;
        position: fixed;
        background-color: #000000;
        padding-top: 50px;
        /* left: -40%; */
        transition: all .25s linear;
    }
    table {
        font-size: small;
    }
}

@media (max-width: 400px) {

    .barra {
        width: 40%;
        height: 100%;
        position: fixed;
        background-color: #000000;
        padding-top: 50px;
        left: -40%;
        /* transition: all .25s linear; */
    }

    .search-container {
        width: 50%;
    }
    table {
        font-size: smaller;
    }
}