body {
    font-family: "Roboto", monospace;
}

header {
    background-color: black;
    padding: 10px;
    margin: -10px -10px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

input {
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 20px;
    background-color: white;
    border-color: black;
    border-style: solid;
    width: 350px;
}

.formulario-container {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-container {
    width: 30%;
    white-space: nowrap;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

input[type="date"] {
    cursor: text;
}

#comp-endereco:hover {
    background-color: rgb(24, 24, 24);
}

#comp-endereco {
    margin-top: 5px;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    color: white;
}